
/*404Ò³Ãæ*/
.mainp{width:1014px; height:497px; position:absolute; top:12%; left:14%;}
.mainp .erbg01{background:url(../images/error_01.jpg) no-repeat; width:1014px; height:98px;}
.mainp .erbg02{background:url(../images/error_02.jpg) no-repeat; width:1014px; height:78px;}
.mainp .erbg03{background:url(../images/error_03.jpg) no-repeat; width:1014px; height:100px;}
.mainp .erbg04{background:url(../images/error_04.jpg) no-repeat; width:1014px; height:95px;}
.mainp .erbg05{background:url(../images/error_05.jpg) no-repeat; width:1014px; height:126px;}
.buut{position:absolute; top:400px; left:200px; border:0px none;}